* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, gray 0%, white 100%);
  font-family: "Poppins", sans-serif;
}